
<!DOCTYPE html>
{% load staticfiles %}
<html lang=en>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="phithon的小站，长期存在与分享关于网络安全与各种编程的原创文章。">
    <meta name="keywords" content="网络安全,代码审计,信息安全,漏洞挖掘,php,C++,mysql,python">
    <link rel="shortcut icon" href="https://cdn.ioin.in/static/cactus/images/favicon.ico">
    <link rel="icon" type="image/png" href="https://cdn.ioin.in/static/cactus/images/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.ioin.in/static/cactus/images/apple-touch-icon.png">

    <title>PHP-CGI远程代码执行漏洞（CVE-2012-1823）分析 | 离别歌</title>
    <link rel="stylesheet" href="{% static 'homme/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/flexboxgrid.min.css' %}">
    <link rel="alternate" type="application/atom+xml" href="/feed/" title="离别歌" />

    <script src="{% static 'home/js/jquery.min.js' %}"></script>

    
<link rel="stylesheet" href="{% static 'home/css/code.css' %}">
<link rel="stylesheet" href="{% static 'home/css/button.css' %}">
<link rel="stylesheet" href="{% static 'home/css/pagination.css' %}">
<link href="{% static 'home/css/jquery.fancybox.min.css' %}" rel="stylesheet">

</head>
<body>


<div id="header-post">
  <a id="menu-icon" href="#" class="active"><i class="fa fa-bars fa-lg"></i></a>
  <a id="menu-icon-tablet" href="#" class="active"><i class="fa fa-bars fa-lg"></i></a>
  <a id="top-icon-tablet" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" style="display:none;"><i class="fa fa-chevron-up fa-lg"></i></a>
  <span id="menu" style="visibility: visible">
    <span id="nav">
      <ul>
          <li><a href="/">主页</a></li>
          <li><a href="javascript:history.back(-1)">返回</a></li>
      </ul>
    </span>
    <br>
    <span id="actions">
      <ul>
        <li><a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fa fa-chevron-up" aria-hidden="true" onmouseover="$('#i-top').toggle();" onmouseout="$('#i-top').toggle();"></i></a></li>
        <li><a class="icon" href="#"><i class="fa fa-share-alt" aria-hidden="true" onmouseover="$('#i-share').toggle();" onmouseout="$('#i-share').toggle();" onclick="$('#share').toggle();return false;"></i></a></li>
      </ul>
      <span id="i-top" class="info" style="display:none;">Back to top</span>
      <span id="i-share" class="info" style="display:none;">Share post</span>
    </span>
    <br>
    <div id="share" style="display: none">
      <ul>
  <li><a class="icon" href="http://www.facebook.com/sharer.php?u=https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html"><i class="fa fa-facebook " aria-hidden="true"></i></a></li>
  <li><a class="icon" href="https://twitter.com/share?url=https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html&amp;text=PHP-CGI%E8%BF%9C%E7%A8%8B%E4%BB%A3%E7%A0%81%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E%EF%BC%88CVE-2012-1823%EF%BC%89%E5%88%86%E6%9E%90"><i class="fa fa-twitter " aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://www.linkedin.com/shareArticle?url=https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html&amp;title=PHP-CGI%E8%BF%9C%E7%A8%8B%E4%BB%A3%E7%A0%81%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E%EF%BC%88CVE-2012-1823%EF%BC%89%E5%88%86%E6%9E%90"><i class="fa fa-linkedin " aria-hidden="true"></i></a></li>
  <li><a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url=https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html&amp;is_video=false&amp;description=PHP-CGI%E8%BF%9C%E7%A8%8B%E4%BB%A3%E7%A0%81%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E%EF%BC%88CVE-2012-1823%EF%BC%89%E5%88%86%E6%9E%90"><i class="fa fa-pinterest " aria-hidden="true"></i></a></li>
  <li><a class="icon" href="mailto:?subject=PHP-CGI%E8%BF%9C%E7%A8%8B%E4%BB%A3%E7%A0%81%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E%EF%BC%88CVE-2012-1823%EF%BC%89%E5%88%86%E6%9E%90&amp;body=Check out this article: https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html"><i class="fa fa-envelope " aria-hidden="true"></i></a></li>
  <li><a class="icon" href="https://getpocket.com/save?url=https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html&amp;title=PHP-CGI%E8%BF%9C%E7%A8%8B%E4%BB%A3%E7%A0%81%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E%EF%BC%88CVE-2012-1823%EF%BC%89%E5%88%86%E6%9E%90"><i class="fa fa-get-pocket " aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://reddit.com/submit?url=https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html&amp;title=PHP-CGI%E8%BF%9C%E7%A8%8B%E4%BB%A3%E7%A0%81%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E%EF%BC%88CVE-2012-1823%EF%BC%89%E5%88%86%E6%9E%90"><i class="fa fa-reddit " aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://www.stumbleupon.com/submit?url=https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html&amp;title=PHP-CGI%E8%BF%9C%E7%A8%8B%E4%BB%A3%E7%A0%81%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E%EF%BC%88CVE-2012-1823%EF%BC%89%E5%88%86%E6%9E%90"><i class="fa fa-stumbleupon " aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://digg.com/submit?url=https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html&amp;title=PHP-CGI%E8%BF%9C%E7%A8%8B%E4%BB%A3%E7%A0%81%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E%EF%BC%88CVE-2012-1823%EF%BC%89%E5%88%86%E6%9E%90"><i class="fa fa-digg " aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://www.tumblr.com/share/link?url=https%3A//www.leavesongs.com/PENETRATION/php-cgi-cve-2012-1823.html&amp;name=PHP-CGI%E8%BF%9C%E7%A8%8B%E4%BB%A3%E7%A0%81%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E%EF%BC%88CVE-2012-1823%EF%BC%89%E5%88%86%E6%9E%90&amp;description="><i class="fa fa-tumblr " aria-hidden="true"></i></a></li>
</ul>
    </div>



  </span>
</div>
<div class="content index width mx-auto px2 my4">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 class="posttitle" itemprop="name headline">{{ article.title }}</h1>
        <div class="meta">
          <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ article.author }}</span>
          </span>

            <div class="postdate">
                <time datetime="2017年5月7日 00:27" itemprop="datePublished">
                    {{ article.created_time }}
                </time>
            </div>

            <div class="article-tag">
            {{ article.views }}
            </div>

           {% for tag in  article.tags.all %}
            <div class="article-tag">
                <i class="fa fa-bookmark"></i>
                <a class="tag-link" href="/sort/PENETRATION">{{ tag.name }}</a>
            </div>
            {% endfor %}
            

            

            
        </div>
    </header>
    <div class="content" itemprop="articleBody">
      {{ article.body }}
    </div>
    </article>

    <h1>赞赏</h1>
    <div class="zan center-xs">
        <p>喜欢这篇文章，扫码和我成为赞友！</p>
        <img src="picture/zan.jpg" alt="">
    </div>

    <div id="reply-list">
    <h1>评论</h1>
        
        
        
    </div>
    

    <form method="post" enctype="multipart/form-data" action="#reply" id="reply">
        
        <textarea name="content" cols="40" rows="6" required id="id_content">
</textarea>
        <div class="row">
            <div class="col-xs-4">
                <input type="text" name="nickname" placeholder="昵称" maxlength="64" required id="id_nickname" />
            </div>
            <div class="col-xs-4">
                <input type="text" name="email" placeholder="邮箱（可留空）" maxlength="254" id="id_email" />
            </div>
            <div class="col-xs-4">
                <input type="text" name="url" placeholder="链接（可留空）" maxlength="200" id="id_url" />
            </div>
        </div>
        <div class="row" style="margin-top: 8px"><div class="col-xs-4"><input autocomplete="off" id="id_captcha_1" name="captcha_1" type="text" placeholder="验证码" /> <input id="id_captcha_0" name="captcha_0" type="hidden" value="e0e93d6332f283962eab26467f78440003b38214" />
</div><div class="col-xs-4">
<img src="picture/af875af7ee684bceafcec06fcdbeeeb1.gif" alt="captcha" class="captcha" height="25" /></div></div>










        <div class="clearfix"></div>
        <input type="submit" class="ui-button ui-button-sgreen" value="提交">
        <input type="hidden" name="archive" value="417" id="id_archive" />
        <input type="hidden" name="parent" id="id_parent" />
        <input type='hidden' name='csrfmiddlewaretoken' value='ad1G8NkkOenU8CxFC9lJuKy1CrpOX2xh2Z9PRyMC8pSLnf4OxVNW2SFq0MIy6hZe' />
    </form>

</div>


<footer id="footer">
  <div class="footer-left">
    Copyright &copy; 2018 Powered by talkbook
  </div>
  <div class="footer-right">
    <nav>
      <ul>
          <li><a href="/">首页</a></li>
          <li><a href="http://weibo.com/101yx" target="_blank">微博</a></li>
          <li><a href="https://github.com/phith0n" target="_blank">项目</a></li>
          <li><a href="/template/change/">更换模板</a></li>
      </ul>
    </nav>
  </div>
</footer>

<script src="{% static 'home/js/main.js' %}"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ad9ab5e37c2811b9f0979e46123fc898";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script src="{% static 'home/js/jquery.fancybox.pack.js' %}"></script>
<script>
$(document).ready(function () {
    $("article a").each(function (i, e) {
        if(e.host != 'www.leavesongs.com') {
            e.target = '_blank';
        }
    });
    $("article img").each(function (i, e) {
        if(e.parentNode.tagName.toUpperCase() != 'A') {
            $(e).wrap('<a href="'+escapeHtml(e.src)+'" class="fancybox"></a>');
        } else {
            $(e.parentNode).addClass('fancybox');
        }
    });
    $('.fancybox').fancybox();
})
</script>

</body>
</html>